.img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.celebrity{
    margin: 20px;
    border:7px solid rgb(134, 6, 6);
    border-radius: 10px;
    width: 25%;
    background-color: rgb(1, 0, 12);
    padding: 20px;
}